.res-img {
  width: 256px;
  height: 160px;
  object-fit: cover;
}
.ant-card-body {
  padding: 16px !important;
}
.res-name {
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 4px 0;
}
.res-item-name {
  font-size: 12px;
  color: var(--light-gray);
  margin: 0 0 20px 0;
}
.res-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.res-rating {
  padding: 4px 6px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  font-size: 12px;
  color: var(--white-color);
  background-color: var(--yellow-color);
}
.res-rating .anticon-star {
  margin: 0 4px 0 0;
}
.delivery-time {
  font-size: 14px;
  margin: 0;
  color: var(--light-gray);
}
.cardLink {
  text-decoration: none;
}
