.footer-wrapper {
  padding: 20px 0;
  box-shadow: 0 15px 40px 20px rgba(40, 44, 63, 0.15);
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.foooter-logo {
  width: 100px;
  height: 50px;
  object-fit: cover;
  cursor: pointer;
}
.social-icon-list {
  display: flex;
  align-items: center;
}
.social-icon {
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  margin-left: 12px;
}
.social-icon:nth-child(1) {
  color: var(--instagram-icon);
}
.social-icon:nth-child(2) {
  color: var(--facebook-icon);
}
.social-icon:nth-child(3) {
  color: var(--twitter-icon);
}
.social-icon:nth-child(4) {
  color: var(--linkdln-icon);
}
